html,
body,
object,
iframe,
blockquote,
pre,
a,
abbr,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

header,
footer,
section,
article,
aside,
nav,
hgroup,
details,
menu,
figure,
figcaption {
  margin: 0;
  padding: 0;
  display: block;
}

legend {
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}

fieldset,
img,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button,
hr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

blockquote,
q {
  quotes: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

.section { position: relative }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

button:focus { outline: none; }